@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

// Selectors
body {
  font-family: $font-family;
}

app-auth, app-home, app-my-models, app-profile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 575.98px) {
  app-home, app-my-models, app-profile {
    padding-top: 40%;
  }
}

@media (min-width: 576px) {
  app-home, app-my-models, app-profile {
    padding-top: 26%;
  }
}

@media (min-width: 655px) and (max-width: 767.98px) {
  app-home, app-my-models, app-profile {
    padding-top: 18%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  app-home, app-my-models, app-profile {
    padding-top: 15%;
  }
}

@media (min-width: 991px) and (max-width: 1199.98px) {
  app-home, app-my-models, app-profile {
    padding-top: 12%;
  }
}

@media (min-width: 1200px) {
  app-home, app-my-models, app-profile {
    padding-top: 8%;
  }
}

a, button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $limed-spruce-light;
  -webkit-text-fill-color: $geyser;
  box-shadow: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.shadow {
  box-shadow: 0 0.5rem 1rem $shadow !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem $shadow-sm !important;
}

// Forms
.card-body {
  a, p {
    color: $turquoise;
    font-size: 0.75rem;
  }

  fa-icon {
    font-size: 1rem;
  }

  input {
    padding: 0px;
    color: $geyser;
    font-weight: 300;
    font-size: 0.875rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom-width: 2px;
    border-bottom-color: $limed-spruce;
    background: transparent;

    &:focus {
      color: $geyser;
      box-shadow: none;
      background: transparent;
      border-bottom-color: $limed-spruce-light;
    }
  }

  .checkbox {
    color: $geyser;
    font-weight: 300;
    font-size: 0.875rem;
  }
}

.form-box-light, .modal-body {
  fa-icon {
    color: $turquoise;
    font-size: 1rem;
  }

  input {
    padding: 0px;
    font-weight: 300;
    color: $limed-spruce-dark;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom-width: 2px;
    border-bottom-color: $limed-spruce-light;
    background: transparent;

    &:focus {
      color: $limed-spruce-dark;
      background: transparent;
      border-bottom-color: $limed-spruce;
    }
  }
}

// Validations
.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: $limed-spruce-light;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: $pomegranate;
}

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: $pomegranate;
}

.invalid-feedback {
  color: $pomegranate;
}

// Buttons
.btn {
  text-transform: uppercase;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-light {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 3.5px;
  color: $turquoise-dark;
  border-color: $geyser-light;
  background-color: $geyser-light;

  &:hover {
    color: $turquoise-dark;
    background-color: $geyser-dark;
  }
}

.btn-dark {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 3.5px;
  color: $turquoise-light;
  border-color: $outer-space;
  background-color: $outer-space;

  &:hover {
    color: $turquoise;
    background-color: $outer-space-dark;
  }
}

.btn-fab {
  position: fixed;
  z-index: 1030;
  border-radius: 50px;
  font-size: 1.875rem;
  height: 4rem;
  width: 4rem;
  right: 2rem;
}

@media (max-width: 575.98px) {
  .btn-fab {
    position: fixed;
    z-index: 1030;
    border-radius: 50px;
    font-size: 1.25rem;
    height: 3rem;
    width: 3rem;
    right: 2rem;
  }
}

// Tabset
.nav-tabs {
  border: transparent;

  .nav-item {
    .nav-link {
      color: $limed-spruce-light;
      font-weight: 300;
      letter-spacing: 3.5px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-width: 4px;

      &:hover {
        color: $limed-spruce;
        font-weight: 400;
        border-color: transparent;
      }

      &:focus,
      &.active {
        color: $limed-spruce;
        font-weight: 400;
        border-color: transparent transparent $turquoise;
      }
    }
  }
}


