// Fonts
$font-family: 'Poppins', sans-serif;

// Colors
$body-bg:           #FFFFFF;
$shadow:            rgba(0, 7, 12, 0.5);
$shadow-sm:         rgba(0, 7, 12, 0.15);

// Text:
$text-dark:         #00070C;
$text-light:        #DAE6E6;

// Primary colors
$turquoise:         #00AC84;
$turquoise-light:   #56dfb4;
$turquoise-dark:    #007c57;

// Secondary colors
$outer-space:        #243033;
$outer-space-light:  #4C595C;
$outer-space-dark:   #00070C;

// Others
$geyser:            #DAE6E6;
$geyser-light:      #FFFFFF;
$geyser-dark:       #A8B4B4;

$limed-spruce:       #3D4A4D;
$limed-spruce-light: #687679;
$limed-spruce-dark:  #162225;

// Errors
$pomegranate:       #f44336;
$pomegranate-light: #FF7961;
$pomegranate-dark:  #BA000D;

// Success
$fruit-salad:        #4CAF50;
$fruit-salad-light:  #80E27E;
$fruit-salad-dark:   #087F23;
