<form [formGroup]="passwordRecoverForm" (ngSubmit)="onPasswordRecover()">
  <div class="row no-gutters">
    <div class="col-12 mb-4 text-right">
      <a id="close" routerLink="/auth/sign-in">
        <fa-icon [icon]="faTimes"></fa-icon>
      </a>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Correo Electrónico"
      formControlName="email"
      [ngClass]="{
        'is-valid': email.valid && email.touched,
        'is-invalid': email.invalid && email.touched
      }"
      required
      autofocus
    />
    <div *ngIf="email.errors" class="invalid-feedback">
      <div *ngFor="let err of (email.errors | keyvalue)">
        {{ error.email[err.key] }}
      </div>
      <div *ngIf="email.errors['servererror']">
        {{ email.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <button type="submit" class="btn btn-dark btn-block px-4">ENVIAR</button>
    </div>
  </div>
</form>
