@import '../../assets/scss/variables';

.dark_presentation {
  // background: #161616 url('../../assets/img/background.jpg');
  background: $outer-space;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  border-color: $limed-spruce-dark;
  background-color: $limed-spruce-dark;
}
