<div class="row my-auto">
  <div class="col-12">
    <div class="row text-center">
      <div class="col-md-6 mx-auto mb-5">
        <img
          class="img-fluid"
          src="{{ vdbLogo }}"
          alt="VoiceDB"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card-group">
          <div class="card p-3 shadow">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
