@import '../../../../assets/scss/variables';

h4 {
  font-weight: 400;
}

.bg-dark {
  background-color: $outer-space !important;

  .btn, a {
    color: $geyser;
  }

  .border-bottom {
    border-bottom-color: $limed-spruce-light !important;
  }
}

.model-name {
  color: $text-light;
}

.dropdown-item {
  outline: none;

  &:active {
    background-color: $turquoise;
  }
}

.mini-header-logo {
  display: none;
}

@media (max-width: 768px) {
  h4 {
    font-size: 1rem;
  }

  .header-logo{
    display: none;
  }

  .mini-header-logo{
    display: block;
  }
}

