<header class="fixed-top flex-md-nowrap shadow bg-dark">
  <div class="row px-4 py-4">
    <div
      class="col-4 col-sm-2 my-auto"
    >
      <a routerLink="/">
        <img
          class="img-fluid header-logo"
          src="../../../../assets/img/header-logo.png"
          alt="VoiceDB Mini Logo"
        />
        <img
          class="img-fluid mini-header-logo"
          src="../../../../assets/img/mini-header-logo.png"
          alt="VoiceDB Mini Logo"
        />
      </a>
    </div>
    <div class="col-8 col-sm-8 my-auto model-name text-right">
      <h4 *ngIf="currentModel"  class="pt-3">{{ currentModel.name }}</h4>
    </div>
    <div class="col-12 col-sm-2 my-auto px-0 text-right">
      <nav class="nav d-flex justify-content-end pt-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"
            ><fa-icon [icon]="faChalkboard"></fa-icon
          ></a>
        </li>
        <li class="nav-item">
          <div ngbDropdown>
            <button class="btn" ngbDropdownToggle>
              <fa-icon [icon]="faUser"></fa-icon>
            </button>
            <div
              class="shadow"
              ngbDropdownMenu
              aria-labelledby="dropdownConfig"
            >
              <button class="dropdown-item" routerLink="/perfil">Perfil</button>
              <button class="dropdown-item" routerLink="/mis-modelos">
                Mis modelos
              </button>
              <button id="signOut" class="dropdown-item" (click)="onSignOut()">
                Cerrar sesión
              </button>
            </div>
          </div>
        </li>
      </nav>
    </div>
  </div>
</header>
