@import '../../../../assets/scss/_variables';

.card {
  border: none;

  a {
    text-decoration: none;
  }

  .card-img-container {
    height: 150px;
    text-align: center;
  }

  .card-image {
    width: auto;
    height: 100%;
    max-height: 100px;
  }

  .card-body {
    .card-title {
      font-weight: 600;
      font-size: 0.9375rem;
      color: $outer-space;
    }

    .card-text {
      margin: 0px;
      padding: 0px;
      font-weight: 300;
      font-size: 0.75rem;
      color: $limed-spruce;
    }

  }

  .card-footer {
    border-top: 0px;

    a {
      font-size: 	1.25rem;
      color: $geyser-dark;
    }

    .load {
      &:hover {
        color: $turquoise-dark;
      }
    }

    .update {
      &:hover {
        color: $turquoise-dark;
      }
    }

    .delete {
      &:hover {
        color: $turquoise-dark;
      }
    }

  }

  strong{
    font-weight: 700;
  }

}
