<div class="card shadow-sm">
  <div class="card-img-container py-4 px-2">
    <img
      src="{{ model?.preview || modelPreview }}"
      class="card-img-top card-image img-fluid"
      alt="{{ model.name }}"
    />
  </div>
  <div class="card-body pt-2">
    <h5 class="card-title">{{ model.name }}</h5>
    <p id="created" class="card-text">
      <strong>Creado:</strong> {{ model.createdAt }}
    </p>
    <p id="updated" class="card-text">
      <strong>Modificado:</strong> {{ model.updatedModelAt }}
    </p>
  </div>
  <div class="card-footer text-center">
    <a id="load" class="card-link open" (click)="onLoad()"
      ><fa-icon [icon]="faBezierCurve"></fa-icon
    ></a>
    <a id="update" class="card-link edit" (click)="onUpdate()"
      ><fa-icon [icon]="faEdit"></fa-icon
    ></a>
    <a id="delete" class="card-link delete" (click)="onDelete()"
      ><fa-icon [icon]="faTrash"></fa-icon
    ></a>
  </div>
</div>
