<form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordReset()">
  <div class="row no-gutters">
    <div class="col-12 mb-4 text-right">
      <a id="close" routerLink="/auth/sign-in">
        <fa-icon [icon]="faTimes"></fa-icon>
      </a>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Contraseña"
      formControlName="password"
      [ngClass]="{
        'is-valid': password.valid && password.touched,
        'is-invalid': password.invalid && password.touched
      }"
      required
      minlength="6"
    />
    <div *ngIf="password.errors" class="invalid-feedback">
      <div *ngFor="let err of (password.errors | keyvalue)">
        {{ error.password[err.key] }}
      </div>
      <div *ngIf="password.errors['servererror']">
        {{ password.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Confirmar contraseña"
      formControlName="confirmPassword"
      [ngClass]="{
        'is-valid': confirmPassword.valid && confirmPassword.touched,
        'is-invalid': confirmPassword.invalid && confirmPassword.touched
      }"
      required
    />
    <div *ngIf="confirmPassword.errors" class="invalid-feedback">
      <div *ngFor="let err of confirmPassword.errors | keyvalue">
        {{ error.password[err.key] }}
      </div>
      <div *ngIf="confirmPassword.errors['servererror']">
        {{ confirmPassword.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <button type="submit" class="btn btn-dark btn-block px-4">
        Cambiar
      </button>
    </div>
  </div>
</form>
