@import "../../../../assets/scss/variables";

.custom-alert {
  top: 82px;
  z-index: 999;
  position: absolute;
}

.custom-alert-auth {
  z-index: 999;
  position: absolute;
}

.alert {
  position: relative;
}

.alert-success {
  color: $text-light;
  background-color: $fruit-salad-dark;
  border-color: $fruit-salad-dark;
}

.alert-danger {
  color: $text-light;
  background-color: $pomegranate-dark;
  border-color: $pomegranate-dark;
}


