<div *ngIf="alert" class="row">
  <div
    class="col-12 py-4"
    [ngClass]="{
      'custom-alert': isAuthenticated,
      'custom-alert-auth': !isAuthenticated
    }"
  >
    <ngb-alert
      *ngIf="!staticAlertClosed"
      class="shadow"
      [ngClass]="{
        'alert-success': alert.type === 'success',
        'alert-danger': alert.type === 'error'
      }"
      (close)="onCloseAlert(alert)"
    >
      {{ alert.message }}
    </ngb-alert>
  </div>
</div>
