<div class="my-4">
  <div class="row">
    <div class="col-12 pt-4">
      <form class="form-box-light" [formGroup]="changePasswordForm" (ngSubmit)="onUpdate()">
        <div class="form-row">
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña actual"
                formControlName="password"
                [ngClass]="{
                  'is-valid': password.valid && password.touched,
                  'is-invalid': password.invalid && password.touched
                }"
                required
                minlength="6"
              />
              <div *ngIf="password.errors" class="invalid-feedback">
                <div *ngFor="let err of password.errors | keyvalue">
                  {{ error.password[err.key] }}
                </div>
                <div *ngIf="password.errors['servererror']">
                  {{ password.errors['servererror'] }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña nueva"
                formControlName="newPassword"
                [ngClass]="{
                  'is-valid': newPassword.valid && newPassword.touched,
                  'is-invalid': newPassword.invalid && newPassword.touched
                }"
                required
                minlength="6"
              />
              <div *ngIf="newPassword.errors" class="invalid-feedback">
                <div *ngFor="let err of newPassword.errors | keyvalue">
                  {{ error.password[err.key] }}
                </div>
                <div *ngIf="newPassword.errors['servererror']">
                  {{ newPassword.errors['servererror'] }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Confirmar contraseña"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-valid': confirmPassword.valid && confirmPassword.touched,
                  'is-invalid': confirmPassword.invalid && confirmPassword.touched
                }"
                required
              />
              <div *ngIf="confirmPassword.errors" class="invalid-feedback">
                <div *ngFor="let err of confirmPassword.errors | keyvalue">
                  {{ error.password[err.key] }}
                </div>
                <div *ngIf="confirmPassword.errors['servererror']">
                  {{ confirmPassword.errors['servererror'] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-end text-right">
          <div class="col-12 col-md-3 my-4">
            <button class="btn btn-dark" type="submit">CAMBIAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
