<form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
  <div class="row no-gutters">
    <div class="col-12 mb-4 text-right">
      <a id="close" routerLink="/auth/sign-in">
        <fa-icon [icon]="faTimes"></fa-icon>
      </a>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Correo Electrónico"
      formControlName="email"
      [ngClass]="{
        'is-valid': email.valid && email.touched,
        'is-invalid': email.invalid && email.touched
      }"
      required
      autofocus
    />
    <div *ngIf="email.errors" class="invalid-feedback">
      <div *ngFor="let err of (email.errors | keyvalue)">
        {{ error.email[err.key] }}
      </div>
      <div *ngIf="email.errors['servererror']">
        {{ email.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Contraseña"
      formControlName="password"
      [ngClass]="{
        'is-valid': password.valid && password.touched,
        'is-invalid': password.invalid && password.touched
      }"
      required
      minlength="6"
    />
    <div *ngIf="password.errors" class="invalid-feedback">
      <div *ngFor="let err of password.errors | keyvalue">
        {{ error.password[err.key] }}
      </div>
      <div *ngIf="password.errors['servererror']">
        {{ password.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Confirmar contraseña"
      formControlName="confirmPassword"
      [ngClass]="{
        'is-valid': confirmPassword.valid && confirmPassword.touched,
        'is-invalid': confirmPassword.invalid && confirmPassword.touched
      }"
      required
    />
    <div *ngIf="confirmPassword.errors" class="invalid-feedback">
      <div *ngFor="let err of confirmPassword.errors | keyvalue">
        {{ error.password[err.key] }}
      </div>
      <div *ngIf="confirmPassword.errors['servererror']">
        {{ confirmPassword.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="form-group checkbox text-center my-4">
    <input
      type="checkbox"
      class="form-check-input"
      formControlName="accepTerms"
      [ngClass]="{
        'is-invalid': submitted && accepTerms.errors
      }"
      required
    />
    <label class="form-check-label" for="accepTerms">
      Acepto los términos de uso y privacidad.
    </label>
    <div *ngIf="submitted && accepTerms.errors" class="invalid-feedback">
      <div *ngFor="let err of (accepTerms.errors | keyvalue)">
        {{ error.accepTerms[err.key] }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <button type="submit" class="btn btn-dark btn-block px-4">REGISTRARME</button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 text-center my-2">
      <a id="sign-in" routerLink="/auth/sign-in">¿Ya te encuentras registrado?</a>
    </div>
  </div>
</form>
