<div class="modal-header">
  <h4 class="modal-title">{{ isUpdate ? 'Actualizar modelo' : 'Agregar modelo' }}</h4>
  <a (click)="activeModal.dismiss()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</div>
<div class="modal-body">
  <form [formGroup]="addModelForm">
    <div class="form-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre del modelo"
        formControlName="name"
        [ngClass]="{
          'is-valid': name.valid && name.touched,
          'is-invalid': name.invalid && name.touched
        }"
        required
      />
      <div *ngIf="name.errors" class="invalid-feedback">
        <div *ngFor="let err of name.errors | keyvalue">
          {{ error.name[err.key] }}
        </div>
        <div *ngIf="name.errors['servererror']">
          {{ name.errors['servererror'] }}
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="isUpdate ? onUpdate() : onAdd()">
      {{ isUpdate ? 'Actualizar' : 'Agregar' }}
  </button>
</div>
