<div class="row py-4">
  <div *ngIf="isEmpty" class="col-12 p-3">
    <p>En estos momentos no tienes modelos agregados.</p>
  </div>
  <ng-container *ngFor="let model of models; let i = index">
    <div class="col-12 col-sm-6 col-md-3 col-xl-2 p-2">
      <app-model-card [model]="model"></app-model-card>
    </div>
    <div *ngIf="(i + 1) % 6 === 0" class="w-100"></div>
  </ng-container>
  <div class="w-100"></div>
</div>
