<div class="p-4">
  <div class="row">
    <div class="col-12">
      <ngb-tabset>
        <ngb-tab title="MIS MODELOS">
          <ng-template ngbTabContent>
            <app-saved [models]="models" [isEmpty]="models.length == 0"></app-saved>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <button class="btn btn-fab btn-add float-right shadow" (click)="openAddModelModal()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
