<app-header *ngIf="isAuthenticated"></app-header>
<main>
  <div class="container-fluid">
    <app-loader></app-loader>
    <app-alert [isAuthenticated]="isAuthenticated"></app-alert>
    <router-outlet></router-outlet>
  </div>
</main>