<form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
  <div class="form-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Correo Electrónico"
      formControlName="email"
      [ngClass]="{
        'is-valid': email.valid && email.touched,
        'is-invalid': email.invalid && email.touched
      }"
      required
      autofocus
    />
    <div *ngIf="email.errors" class="invalid-feedback">
      <div *ngFor="let err of email.errors | keyvalue">
        {{ error.email[err.key] }}
      </div>
      <div *ngIf="email.errors['servererror']">
        {{ email.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Contraseña"
      formControlName="password"
      [ngClass]="{
        'is-valid': password.valid && password.touched,
        'is-invalid': password.invalid && password.touched
      }"
      required
      minlength="6"
    />
    <div *ngIf="password.errors" class="invalid-feedback">
      <div *ngFor="let err of password.errors | keyvalue">
        {{ error.password[err.key] }}
      </div>
      <div *ngIf="password.errors['servererror']">
        {{ password.errors['servererror'] }}
      </div>
    </div>
  </div>
  <div class="form-group checkbox text-center mt-4 mb-3">
    <label>
      <input type="checkbox" value="" formControlName="rememberMe" />
      Recuérdame
    </label>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <button type="submit" class="btn btn-dark btn-block px-4">
        Iniciar sesión
      </button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 col-sm-6 text-center my-2">
      <a id="recovery" routerLink="/auth/recovery">¿Olvidó su contraseña?</a>
    </div>
    <div class="col-12 col-sm-6 text-center my-2">
      <a id="sign-up" routerLink="/auth/sign-up">¿Aún no te has registrado? </a>
    </div>
  </div>
</form>
