<div class="p-4">
  <div class="row">
    <div class="col-12 col-md-2 p-2 text-center">
      <span class="btn-file">
        <input
          #avatar
          type="file"
          accept="image/*"
          (change)="avatarPreview(avatar.files)"
        />
        <img
          class="img-fluid rounded-circle"
          src="{{ user?.avatar || avatarURL }}"
          alt="User avatar"
        />
      </span>
    </div>
    <div class="col-12 col-md-10">
      <div class="row pt-4">
        <div class="col-12">
          <h6>USUARIO</h6>
        </div>
        <div class="col-12">
          <h1>{{ user?.fullName || 'Usuario' }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 navbar-collapse">
      <ngb-tabset>
        <ngb-tab title="INFORMACIÓN">
          <ng-template ngbTabContent>
            <app-information></app-information>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="CAMBIAR CONTRASEÑA">
          <ng-template ngbTabContent>
            <app-password-change></app-password-change>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
