@import '../../assets/scss/_variables';

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h6 {
  color: $limed-spruce-light;
  font-weight: 300;
  letter-spacing: 3.5px;
}

.btn-file {
  position: relative;
  overflow: hidden;

  input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    display: block;
  }
}

img {
  max-height: 200px;
  width: 200px;
}
