@import "../../../../assets/scss/_variables";

.hidden {
  visibility: hidden;
}

.loader-overlay {
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2000;
  position: fixed;
}

.loader {
  width: 100%;
  height: 4px;
  overflow: hidden;
  position: relative;
  background-color: $turquoise-light;
}

.loader:before {
  height: 4px;
  content: '';
  left: -200px;
  width: 200px;
  display: block;
  position: absolute;
  background-color: $turquoise-dark;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
