<div class="dashboard">
  <app-model-editor [model]="model" (nodeSelected)="showDetails($event)" (modelChanged)="onModelChanged($event)">
  </app-model-editor>
  <button class="btn btn-fab btn-save float-right shadow" (click)="onUpdate()">
    <fa-icon [icon]="faSave"></fa-icon>
  </button>
  <button class="btn btn-fab btn-microphone float-right shadow" (click)="onActive()">
    <fa-icon [icon]="faMicrophone"></fa-icon>
  </button>
</div>
