@import '../../assets/scss/variables';

.dashboard {
  margin: 0px;
  padding: 0px;
  min-width: 97vw;
  min-height: 90vh;
  background-size: 1em 1em;
  background-image: linear-gradient(rgba(61, 74, 77, 0.15) 0.05em, transparent 0.05em),
    linear-gradient(90deg, rgba(61, 74, 77, 0.15) 0.05em, transparent 0.05em);
}

.btn-microphone {
  bottom: 2rem;
  background-color: $turquoise;

  &:hover {
    color: $text-light;
    background-color: $turquoise-dark;

  }
}

.btn-save {
  bottom: 7rem;
  background-color: $turquoise-light;

  &:hover {
    color: $text-light;
    background-color: $turquoise;

  }
}

@media (max-width: 575.98px) {
  .btn-save {
    bottom: 6rem;
  }
}

::ng-deep .diagramDiv {
  border: none !important;
}
