<div class="my-4">
  <div class="row">
    <div class="col-12 pt-4">
      <form class="form-box-light" [formGroup]="informationForm" (ngSubmit)="onUpdate()">
        <div class="form-row">
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre completo"
                formControlName="fullName"
                [ngClass]="{
                  'is-valid': fullName.valid && fullName.touched,
                  'is-invalid': fullName.invalid && fullName.touched
                }"
                required
              />
              <div *ngIf="fullName.errors" class="invalid-feedback">
                <div *ngFor="let err of fullName.errors | keyvalue">
                  {{ error.fullName[err.key] }}
                </div>
                <div *ngIf="fullName.errors['servererror']">
                  {{ fullName.errors['servererror'] }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Correo electrónico"
                formControlName="email"
                [ngClass]="{
                  'is-valid': email.valid && email.touched,
                  'is-invalid': email.invalid && email.touched
                }"
                required
              />
              <div *ngIf="email.errors" class="invalid-feedback">
                <div *ngFor="let err of email.errors | keyvalue">
                  {{ error.email[err.key] }}
                </div>
                <div *ngIf="email.errors['servererror']">
                  {{ email.errors['servererror'] }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append p-2">
                  <a (click)="date.toggle()">
                    <fa-icon [icon]="faCalendar"></fa-icon>
                  </a>
                </div>
                <input
                  type="text"
                  class="form-control date-picker"
                  placeholder="Fecha de nacimiento"
                  ngbDatepicker
                  #date="ngbDatepicker"
                  formControlName="birthDate"
                  (click)="date.toggle()"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Ocupación"
                formControlName="occupation"
              />
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Empresa o centro de educación"
                formControlName="companyOrEducation"
              />
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="País"
                formControlName="country"
              />
            </div>
          </div>
        </div>
        <div class="form-row justify-content-end text-right">
          <div class="col-12 col-md-3 my-4">
            <button class="btn btn-dark" type="submit">ACTUALIZAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
